<%= form_with(model: notum) do |form| %>
  <% if notum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(notum.errors.count, "error") %> prohibited this notum from being saved:</h2>

      <ul>
        <% notum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :conteudo, style: "display: block" %>
    <%= form.text_area :conteudo %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
