<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user %>
    <h1> Vocé é um <%= current_user.role %> </h1>
    <% if current_user.admin? %>
        <span> Há <%= User.count %> usuarios </span>
    <% end %>
    <p> Bem vindo <%= current_user.email %></p>
    <p>
        Você logou com sucesso, agora pode interagir com o projeto.
    </p>
    <%= link_to "Deslogar", destroy_user_session_path, 'data-turbo-method': :delete%>
<% else %>
    <p> Você não está logado. </p>
    <p>
        <%= link_to "Logar", new_user_session_path %>
        <br>
        <%= link_to "Cadastrar", new_user_registration_path %>
    </p>
<% end %>